.cities {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));

  gap: 2rem;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 5rem;
}

.cities__group {
  position: relative;
  cursor: pointer;
  z-index: -10;
  height: 20rem;
}

.cities__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.title__container {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  color: #fff;
}
