.hotel {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 2rem;
  border: 1px solid var(--color-gray-1);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #000;
  min-height: 23rem;
}

.hotel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel__info {
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 3rem;
}

.hotel__info-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel__title {
  color: var(--color-blue-secondary);
  padding-bottom: 1rem;
}

.hotel__location {
  display: inline-block;
  color: var(--color-blue-secondary);
}

.hotel__airport-taxi {
  display: inline-block;
  color: #fff;
  background-color: var(--color-green-primary);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.hotel__cancellation {
  color: var(--color-green-primary);
  padding-top: 1rem;
}

.hotel__info-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel__detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotel__review {
  color: var(--color-gray-1);
  font-size: 1rem;
}

.hotel__rate {
  margin: 0;
  margin-left: 1rem;
}

.hotel__availability {
  display: flex;
  flex-direction: column;
}

.hotel__price {
  font-size: 2rem;
  align-self: flex-end;
}

.btn--available {
  background-color: var(--color-blue-secondary);
  color: #fff;
  padding: 1rem 4rem;
  margin-top: 1rem;
}
