.search {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  transform: translateY(-50%);
  border: 3px solid var(--color-yellow-primary);
  background-color: #fff;
  border-radius: 3px;
}

.search__group:first-of-type {
  flex: 1;
}

.search__group {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-right: 3px solid var(--color-yellow-primary);
}

.search__group:last-of-type {
  position: relative;
}

.search__group-container {
  display: flex;
  cursor: pointer;
}

.search__icon {
  fill: var(--color-gray-1);
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

.search__location {
  border: none;
  outline: none;
  width: 90%;
}

.search__arrow {
  fill: var(--color-blue-secondary);
  margin-left: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.btn--search {
  display: inline-block;
  color: #fff;
  background-color: var(--color-blue-secondary);
  padding: 1.5rem 2rem;
  font-size: 2rem;
}

.react-datepicker {
  font-size: 1rem;
}

.react-datepicker__input-container input {
  border: none;
  outline: none;
  padding: 1rem;
  cursor: pointer;
}
